*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #023246; 
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    border: 1px solid #287094;
    border-radius: 5px;
    font-size: 16px;
    width: 220px;
    margin-right: 10px;
    background-color: #D4D4CE; 
    color: black;
  }
  
  .search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #287094;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #D4D4CE;
    color: black;
  }
  
  .weather-data {
    background-color: #287094;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .weather-icon {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .temperature {
    font-size: 48px;
    margin: 10px 0;
    color: white;
  }
  
  .cityName {
    font-size: 30px;
    margin: 5px 0;
    color: white;
  }

  .weather-info{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
  }
  
  .weather-info .col {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
  
  .weather-info .col span{
    display: block;
    font-size: 16px;
    font-weight: 100;
  }

  .weather-info .col img{
    filter: invert(1);
    width: 30px;
  }